# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!default.xcworkspace

# User-specific files
*.xcuserdatad/
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archive / export
*.ipa
*.dSYM.zip
*.dSYM

# Logs
*.log

# Temporary files
*.swp
*.lock

# Playground
timeline.xctimeline
playground.xcworkspace
